.collegeDunia {
  font-family: DINPro;
}


.sub-title {
  font-size: 14pt;
  padding: 5px 22px;
  font-weight: bold;
  font-family: DINPro;
}

.clg1 {
  width: 50%;
  display: inline-block;
}

.collegeCards {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
  /* padding: 8px; */
  height: auto;
  /* margin-bottom: 16px; */
  /* margin-left: 24px; */
  margin: 16px 16px 12px 16px;
  border-radius: 4px;
}

.collegeImg {
  width: 100%;
  border-radius: 4px;
}

.collegeName {
  /* font-family: PTSans; */
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.45;
  letter-spacing: 0.2px;
  text-align: left;
}

.collegeInfo {
  font-size: 14px;
  width: 64%;
}

.collegeFees {
  float: right;
  margin: -120px 12px 0px 0;
}

.amenties {
  float: right;
  margin: -32px 12px 0 0;
  font-weight: bold;
  color: #37b396;
}

.discount {
  width: 8px;
  height: 10px;
  margin: 18px 0px 0px 92px;
  font-size: 10px;
  color: #ffffff;
  padding: 3px 6px 2px;
  background-color: #dd1c26;
  position: absolute;
}

.discount span::before {
  margin: -14px 0 0 -14px;
  border-top: 8px solid transparent;
  border-right: 8px solid #dd1c26;
  border-bottom: 7px solid transparent;
}

.discount span::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

.discount span::after {
  width: 4px;
  height: 4px;
  background: #ffffff;
  border-radius: 50%;
}

.discount span::after {
  content: "";
  position: absolute;
  margin: -8px 0 0px -8px;
}


.originalFees {
  font-size: 14px;
  color: #949494;
  text-decoration: line-through;
  margin-left: 38px;
}

.discountedFees {
  color: #dd1c26;
  font-size: 24px;
  margin-left: 12px;
}

.feesCycle {
  font-size: 12px;
  margin-right: 2px;
  color: #949494;
}

.promoted {
  margin: 6px 40px 0px 0px;
  float: inherit;
}

.Rectangle-4 {
  width: 346px;
  height: 24px;
  background-color: #ccf5e7;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 6px 0px 0px 4px;
}

.Rectangle-3 {
  width: 75px;
  height: 53px;
  margin: 32px 0 -104px 500px;
  padding: 9px;
  border-radius: 3.8px;
  background-color: #f5a626;
  position: absolute;
}

.Rectangle-2 {
  width: auto;
  height: 22px;
  font-size: 12px;
  margin: 180px 7px 0 6px;
  position: absolute;
  padding: 6px 14px 0px 16px;
  border-radius: 28px;
  background-color: white;
}

.Rectangle-1 {
  width: auto;
  height: 22px;
  font-size: 12px;
  margin: 180px 7px 0 160px;
  position: absolute;
  padding: 6px 14px 0px 16px;
  border-radius: 28px;
  background-color: #ffffff;
}

.ranking {
  width: 199px;
  height: 13px;
  margin: 190px 0px 10px 336px;
  font-family: DINPro;
  font-weight: bolder;
  position: absolute;
  font-size: 13.5px;
  color: #ffffff;
}

.rating {
  color: #ffffff;
  font-size: 16Px;
  padding: 0px 32px 0 32px;
}

.starRating {
  margin: -16px 0 8px 310px;
}

.ratingRemark {
  color: #ffffff;
  font-size: 14px;
  padding: 0px 2px 0 2px;
}

.Vector-Smart-Object {
  width: 152px;
  height: 30px;
  margin: 0px 16px -14px 0;
  float: right;
  position: sticky;
  text-align: center;
  /* padding: 8px 0 0 0px; */
  color: #ffffff;
  background-color: #68a7ff;
}

.Vector-Smart-Object span::before {
  top: 0;
  left: -16px;
  border-width: 16px 0px 16px 16px;
}

.Vector-Smart-Object span::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #68a7ff transparent transparent;
  position: absolute;
}

.Vector-Smart-Object span::after {
  border-style: solid;
  /* border-width: 15px 0 0 14px; */
  border-color: transparent transparent transparent #68a7ff;
  bottom: 0;
  left: -16px;
}

.Vector-Smart-Object span::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 16px solid #68a7ff;
  border-left: 16px solid transparent;
  border-style: solid;
  /* border-color: #68a7ff transparent transparent; */
  position: absolute;
}

.nearByMetro {
  font-size: 12px;
  color: #444444;
}

.distanceByBus {
  font-size: 8pt;
  margin-left: 2px;
  color: #949494;
}

.match {
  font-size: 14px;
}

.percent {
  font-weight: bold;
  color: #37b396;
}

.gtb {
  font-size: 12px;
  color: #adadad;
}

.offerText {
  font-size: 12px;
}

.mar-4 {
  margin: 4px 4px 4px 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

/* @media (max-width: 480px){
  .clg1 {
    width: 100%;
    display: inline-block;
  }

  .Rectangle-3 {
    width: 75px;
    height: 53px;
    margin: 32px 0 -104px 500px;
    padding: 9px;
    border-radius: 3.8px;
    background-color: #f5a626;
    position: absolute;
  }
} */